# added for google cal integration
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

gspread
oauth2client
python-dateutil
python-dotenv
pytz
requests
# pre-commit linting & formatting
ruff
